<!DOCTYPE html>
<html ng-app="myModule">
	<head>
		<script src="/Users/ayoko001/Desktop/angularJS/tutorial/scripts/angular.js"></script>
		<script src="script.js"></script>
		<link href="styles.css" rel="stylesheet" />
	</head>
	
	<body >
		<div ng-controller="myController">
			<div>
				<table>
					<thead>
						<tr>
							<th>Name</th>
							<th>Likes</th>
							<th>Dislikes</th>
							<th>Like/Dislike</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="technology in technologies">
							<td> {{technology.name}} </td>
							<td> {{technology.likes}} </td>
							<td> {{technology.dislikes}} </td>
							<td> 
								<input type="button" value="Like" ng-click="incrementLikes(technology)">
								<input type="button" value="Dislike" ng-click="incrementDislikes(technology)">	
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</body>
	
</html>
